@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
:root {
    --color: #fff;
    --background: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Times New Roman", sans-serif;
}

a {
    color: #242424;
    text-decoration: none;
}


/* navbar start */

.navbar-main {
    width: 100%;
    max-width: 2180px;
    margin: 0 auto;
    background: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 9999;
}

navbar.navbar {
    min-height: 80px;
}

navbar img {
    width: 200px !important;
}

.btn-primary {
    background: #002147;
    border-color: #002147;
}

.btn-primary:hover {
    background: #0152af;
}


/* navbar end */


/* header start */

header.header {
    width: 100%;
    max-width: 2180px;
    margin: 0 auto;
    min-height: 820px;
    background: #242424;
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    color: var(--color);
}

header .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 820px;
    gap: 0 2rem;
}

.form_contact {
    width: 50%;
    height: 500px;
    color: whitesmoke;
    padding: 20px 24px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
}

.form_contact input {
    background-color: transparent;
    color: whitesmoke;
}

.form_contact span {
    color: whitesmoke;
}

.form_contact input:focus {
    background: transparent;
    color: whitesmoke;
}

.form_contact textarea {
    background-color: transparent;
    color: whitesmoke;
}

.form_contact textarea:focus {
    background: transparent;
    color: whitesmoke;
}

.form_contact div {
    background-color: transparent;
}

label {
    margin-top: 0.5rem;
}

#comment {
    resize: none;
    height: 100px;
}

h1,
h2,
h4,
h5 {
    font-weight: 800;
}

h6 {
    font-size: 13px;
}

.header__block {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    padding-top: 8%;
}

.header__date {
    width: 90%;
    min-height: fit-content;
    /* display: flex; */
    flex-flow: wrap;
}

.date__days {
    min-width: 18%;
    height: 120px;
    border: 2px solid var(--background);
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
}

.date__hours {
    min-width: 18%;
    height: 120px;
    border: 2px solid var(--background);
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
}

.date__minutes {
    min-width: 18%;
    height: 120px;
    border: 2px solid var(--background);
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
}

.date__seconds {
    min-width: 18%;
    height: 120px;
    border: 2px solid var(--background);
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
}

span {
    font-size: 55px;
}

h6 {
    font-size: 15px;
    /* padding-bottom: 5px; */
}

#email {
    min-width: 280px;
    height: 40px;
    padding: 4px 8px;
    outline: none;
    border: 1px solid var(--background);
    background: transparent;
    color: var(--color);
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
}

#email:focus {
    box-shadow: 0 0 15px 0.5px var(--background);
}

#btn {
    min-width: 110px;
    height: 40px;
    border: none;
    background: var(--background);
    color: var(--color);
    font-size: 18px;
}

#btn:hover {
    opacity: 0.9;
}

#btn:active {
    background: rgb(13, 13, 177);
}

.header__end h6 {
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
}

.header__end__icons {
    max-width: 80%;
    margin: auto;
    margin-bottom: 110px !important;
    grid-gap: 5px;
}

.icons__icon {
    width: 36px;
    height: 38px;
    border: 1px solid var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    transition: all 0.3s ease-in-out;
}

.icons__icon:hover {
    background: var(--background);
    color: var(--color);
    cursor: pointer;
}

#color {
    color: var(--background);
}


/* header end */


/* section 1 start */

.section1 {
    min-height: 550px;
    width: 100%;
    max-width: 2180px;
    margin: 0 auto;
}

.section1__prize {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
}

.section1__prize__icon {
    max-width: 30px;
    height: 30px;
    border: 1px solid #002147;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002147;
}

.section1__prize__icon i {
    font-size: 14px;
}

.section1__line__left {
    color: #002147;
    width: 10%;
}

.section1__line__right {
    color: #002147;
    width: 10%;
}

.block__upside {
    width: 75px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-out;
}

.section1__main__content {
    width: 90%;
    margin: 0 auto;
}

.section1__main__content .block:nth-child(4) {
    margin-bottom: 110px !important;
}

.block__upside i {
    font-size: 28px;
    color: var(--background);
}

.block__downside h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px auto;
}

.block__downside p {
    color: grey;
    font-size: 13px;
}

.block__downside {
    cursor: pointer;
}


/* section 1 end */


/* section 2 start */

.section2 {
    background: #1b1b1b;
    min-height: 820px;
    width: 100%;
    max-width: 2180px;
    margin: 0 auto;
}

.section2__prize {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
}

.section2__prize__icon {
    max-width: 30px;
    height: 30px;
    border: 1px solid var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
}

.section2__prize__icon i {
    font-size: 14px;
}

.section2__line__left {
    color: var(--background);
    width: 10%;
}

.section2__line__right {
    color: var(--background);
    width: 10%;
}

.block__upside1 {
    position: relative;
    max-width: max-content;
    margin: auto;
    overflow: hidden;
}

.block__upside1 img {
    border: 3px solid var(--background);
    position: relative;
    width: 100%;
}

.toast {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 2px;
    position: fixed;
    top: 0;
    z-index: 999999;
    transition: all 0.2s linear;
}

.toast-warning {
    background-color: rgb(252, 39, 75);
}

.toast-success {
    background-color: rgb(40, 199, 93);
}


/* animations for section 2 */

@keyframes first {
    from {
        transform: translate(-200px) scale(0) rotate(180deg);
    }
    to {
        transform: translate(0px) scale(1);
    }
}

@keyframes second {
    from {
        transform: translateY(-200px) scale(0) rotate(-180deg);
    }
    to {
        transform: translate(0px) scale(1);
    }
}

@keyframes third {
    from {
        transform: translateY(200px) scale(0) rotate(180deg);
    }
    to {
        transform: translate(0px) scale(1);
    }
}

@keyframes four {
    from {
        transform: translate(200px) scale(0) rotate(180deg);
    }
    to {
        transform: translate(0px) scale(1);
    }
}

@keyframes after {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}


/* section 2 end */


/* footer start */

footer.footer {
    width: 100%;
    max-width: 2180px;
    margin: 0 auto;
    max-height: fit-content;
    background: whitesmoke;
}

.footer p {
    color: grey;
    font-size: 14px;
}

.footer img {
    margin-bottom: 20px;
}


/* maps */

.maps {
    transition: all 0.2s linear;
}

.maps:hover {
    filter: brightness(50%);
}


/* footer end */


/* Responsive part start*/

@media screen and (max-width: 992px) and (min-width: 535px) {
    header .header_content {
        height: 100%;
        flex-direction: column;
        gap: 20px 0;
    }
    .form_contact {
        width: 80%;
    }
    .pre-footer {
        flex-direction: column;
    }
    .maps img {
        width: 100%;
        height: 100%;
    }
    .section1__line__left {
        width: auto;
    }
    .section1__line__right {
        width: auto;
    }
}

@media screen and (max-width: 535px) {
    footer.footer p {
        font-size: 10px !important;
    }
    footer.footer span {
        font-size: 10px !important;
    }
    header .header_content {
        height: 100%;
        flex-direction: column;
        gap: 20px 0;
    }
    .form_contact {
        width: 100%;
    }
    .pre-footer {
        flex-direction: column;
    }
    .maps img {
        width: 100%;
        height: 100%;
    }
    .section1__line__left {
        width: auto;
    }
    .section1__line__right {
        width: auto;
    }
    navbar.navbar ul {
        flex-direction: column;
        gap: 10px !important;
    }
    navbar.navbar img {
        width: 120px !important;
    }
    #text {
        width: 100%;
    }
}


/* Responsive part end*/

.hideText {
    display: none;
    margin-top: 20px;
}